

<body>

    {% include 'academia/partials/header.html' %}
    {% include 'academia/partials/main.html' %}
    {% include 'academia/partials/footer.html' %}
    
    <!--========== SCROLL UP ==========-->
    <a href="#" class="scrollup" id="scroll-up">
        <i class="ri-arrow-up-line"></i>
    </a>
    
    <!--=============== SCROLLREVEAL ===============-->
    <!-- <script src="/static/js/scrollreveal.min.js"></script> -->
    <script src="https://unpkg.com/scrollreveal"></script>
    
    <!--=============== EMAIL JS ===============-->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

    <!--=============== MAIN JS ===============-->
    <script src="static/js/main.js"></script>
</body>
</html>