
<!--==================== MAIN ====================-->

<main class="main">
    <!--==================== HOME ====================-->
    <section class="home section" id="home">
        <div class="home__container container grid">
            <div class="home__data">
                <h2 class="home__subtitle">Studio de treinamento físico </h2>
                <h1 class="home__title">PERSONALIZADO</h1>
                <p class="home__description">
                    Aqui, vamos ajudá-lo a moldar e construir seu corpo ideal e viver sua vida ao máximo.
                </p>
                <a href="#" class="button button__flex">
                    Iniciar <i class="ri-arrow-right-line"></i>
                </a>
            </div>
            <div class="home__images">
                <img src="./static/img/home-img.png" alt="homeimage" class="home__img">
                <div class="home__triangle home__triangle-3"></div>
                <div class="home__triangle home__triangle-2"></div>
                <div class="home__triangle home__triangle-1"></div>
            </div>
        </div>
    </section>

    <!--==================== LOGOS ====================-->
    <section class="logos section">
        <div class="logos__container container grid">
            <img src="/static/img/logo1.png" alt="logo image" class="logos__img">
            <img src="/static/img/logo2.png" alt="logo image" class="logos__img">
            <img src="/static/img/logo3.png" alt="logo image" class="logos__img">
            <img src="/static/img/logo4.png" alt="logo image" class="logos__img">
        </div>
    </section>

    <!--==================== PROGRAM ====================-->
    <section class="program section" id="program">
        <div class="container">
            <div class="section__data">
                <h2 class="section__subtitle"> Nosso Programa</h2>
                <div class="section__titles">
                    <h1 class="section__title-border">CONSTRUA SEU</h1>
                    <h1 class="section__title">MELHOR CORPO</h1>
                </div>
            </div>
            <div class="program__container grid">

                <article class="program__card">
                    <div class="program__shape">
                        <img src="./static/img/program1.png" alt="program image" class="program__img">
                    </div>
                    <h3 class="program__title">Treino</h3>
                    <p class="program__description">
                        A musculação não só ajuda a construir músculos fortes, mas também traz inúmeros benefícios para o corpo. 
                        Ela pode melhorar a saúde cardiovascular, aumentar a densidade óssea e melhorar a postura. Além disso, 
                        a musculação também pode ajudar a perder peso e aprimorar a composição corporal. 
                        Junte-se a nós para descobrir como a musculação pode transformar seu corpo.
                    </p>
                    <a href="#" class="program__button"><i class="ri-arrow-right-line"></i></a>
                </article>

                <article class="program__card">
                    <div class="program__shape">
                        <img src="./static/img/program2.png" alt="program image" class="program__img">
                    </div>
                    <h3 class="program__title">Queime Calorias com a Zumba</h3>
                    <p class="program__description">
                        A Zumba é uma dança fitness divertida e energética que ajuda a queimar calorias enquanto você se diverte. 
                        Com sua música animada e movimentos inspirados em danças latinas, a Zumba é uma ótima maneira de melhorar 
                        a saúde cardiovascular, aumentar a resistência e tonificar os músculos. Além disso, é uma forma de 
                        exercício acessível para todas as idades e níveis de condicionamento físico. 
                        Junte-se a nós e experimente a alegria da Zumba!.
                    </p>
                    <a href="#" class="program__button"><i class="ri-arrow-right-line"></i></a>
                </article>

                <article class="program__card">
                    <div class="program__shape">
                        <img src="./static/img/program3.png" alt="program image" class="program__img">
                    </div>
                    <h3 class="program__title"> Condicionamento Físico com o Jiu-Jitsu </h3>
                    <p class="program__description">
                        O Jiu-Jitsu é uma arte marcial que não só ensina habilidades de auto-defesa, 
                        mas também melhora a força, flexibilidade e resistência física. É uma forma eficaz 
                        de condicionamento físico e também pode ajudar a desenvolver a confiança e a disciplina. 
                        Nossos instrutores experientes estão aqui para ajudá-lo a aprender as técnicas de Jiu-Jitsu 
                        em um ambiente seguro e divertido. Junte-se a nós e descubra como o Jiu-Jitsu pode melhorar sua vida.
                    </p>
                    <a href="#" class="program__button"><i class="ri-arrow-right-line"></i></a>
                </article>

                <article class="program__card">
                    <div class="program__shape">
                        <img src="./static/img/program4.png" alt="program image" class="program__img">
                    </div>
                    <h3 class="program__title">Muay Thai para o Corpo e a Mente</h3>
                    <p class="program__description">
                        O Muay Thai é uma arte marcial que pode melhorar o condicionamento físico, aumentar a força muscular e melhorar 
                        a saúde cardiovascular. Além disso, a prática do Muay Thai também pode ajudar a reduzir o estresse, aumentar a 
                        autoconfiança e desenvolver a disciplina mental. Junte-se a nós e descubra como o Muay Thai pode beneficiar 
                        o seu corpo e mente de uma forma única e desafiadora.
                    </p>
                    <a href="#" class="program__button"><i class="ri-arrow-right-line"></i></a>
                </article>

            </div>
        </div>
    </section>

    <!--==================== CHOOSE US ====================-->
    <section class="choose section" id="choose">
        <div class="choose__overflow">
            <div class="choose__container container grid">
                <div class="choose__content">
                    <div class="section__data">
                        <h2 class="section__subtitle">Melhor Motivo</h2>
                        <div class="section__titles">
                            <h1 class="section__title-border">por que </h1>
                            <h1 class="section__title">escolher a gente?</h1>
                        </div>
                    </div>

                    <p class="choose__description">
                        Escolha sua aula preferida e comece agora. 
                        Lembre-se que o único treino ruim é aquele que você não fez.
                    </p>

                    <div class="choose__data">
                        <div class="choose__group">
                            <h3 class="choose__number">100+</h3>
                            <p class="choose__subtitle">Total de Menbros</p>
                        </div>
                        <div class="choose__group">
                            <h3 class="choose__number">50+</h3>
                            <p class="choose__subtitle">Melhores Treinos</p>
                        </div>
                        <div class="choose__group">
                            <h3 class="choose__number">1º </h3>
                            <p class="choose__subtitle">Prêmio de alguma coisa</p>
                        </div>
                        <div class="choose__group">
                            <h3 class="choose__number">1º </h3>
                            <p class="choose__subtitle">Melhor Atendimento da Cidade</p>
                        </div>
                    </div>
                </div>
                <div class="choose__images">
                    <img src="/static/img/choose-img.png" alt="choose image" class="choose__img">
                    <div class="choose__triangle choose__triangle-1"></div>
                    <div class="choose__triangle choose__triangle-2"></div>
                    <div class="choose__triangle choose__triangle-3"></div>
                </div>
            </div>
        </div>
    </section>

    <!--==================== Planos ====================-->
    <section class="Planos section" id="Planos">
        <div class="container">
            <div class="section__data">
                <h2 class="section__subtitle">Melhor Motivo</h2>
                <div class="section__titles">
                    <h1 class="section__title-border">NOSSA</h1>
                    <h1 class="section__title">OFERTA ESPECIAL</h1>
                </div>
            </div>

            <div class="Planos__container container grid">

                <article class="Planos__card">
                    <header class="Planos__header">
                        <div class="Planos__shape">
                            <img src="/static/img/Planos1.png" alt="Planos image" class="Planos__img">
                        </div>
                        <h1 class="Planos__title">TREINO PERSONALIZADO</h1>
                        <h2 class="Planos__number">R$100</h2>
                    </header>
                    <ul class="Planos__list">
                        <li class="Planos__item">
                            <i class="ri-checkbox-circle-line"></i>5 Dias da Semana
                        </li>
                        <li class="Planos__item">
                            <i class="ri-checkbox-circle-line"></i>Acompanhamento Personalizado
                        </li>
                        <li class="Planos__item Planos__item-opacity">
                            <i class="ri-checkbox-circle-line"></i>Aula de zumba 1 vez por Semana
                        </li>
                        <li class="Planos__item Planos__item-opacity">
                            <i class="ri-checkbox-circle-line"></i>Acesso a vídeos
                        </li>
                        <li class="Planos__item Planos__item-opacity">
                            <i class="ri-checkbox-circle-line"></i>Alongamento Muscular
                        </li>
                    </ul>
                    <a href="#" class="button button__flex Planos__button">
                        Assine Agora <i class="ri-arrow-right-line"></i>
                    </a>
                </article>

                <article class="Planos__card Planos__card-active">
                    <header class="Planos__header">
                        <div class="Planos__shape">
                            <img src="/static/img/Planos2.png" alt="Planos image" class="Planos__img">
                        </div>
                        <h1 class="Planos__title">Jiu-Jitsu</h1>
                        <h2 class="Planos__number">R$70</h2>
                    </header>
                    <ul class="Planos__list">
                        <li class="Planos__item">
                            <i class="ri-checkbox-circle-line"></i>5 Days In A Week
                        </li>
                        <li class="Planos__item">
                            <i class="ri-checkbox-circle-line"></i>01 Sweatshirt
                        </li>
                        <li class="Planos__item">
                            <i class="ri-checkbox-circle-line"></i>01 Bottle of Protein
                        </li>
                        <li class="Planos__item Planos__item-opacity">
                            <i class="ri-checkbox-circle-line"></i>Access to Videos
                        </li>
                        <li class="Planos__item Planos__item-opacity">
                            <i class="ri-checkbox-circle-line"></i>Muscle Stretching
                        </li>
                    </ul>
                    <a href="#" class="button button__flex Planos__button">
                        Assine Agora <i class="ri-arrow-right-line"></i>
                    </a>
                </article>

                <article class="Planos__card">
                    <header class="Planos__header">
                        <div class="Planos__shape">
                            <img src="/static/img/Planos3.png" alt="Planos image" class="Planos__img">
                        </div>
                        <h1 class="Planos__title">Muay Thai </h1>
                        <h2 class="Planos__number">R$70</h2>
                    </header>
                    <ul class="Planos__list">
                        <li class="Planos__item">
                            <i class="ri-checkbox-circle-line"></i>5 Days In A Week
                        </li>
                        <li class="Planos__item">
                            <i class="ri-checkbox-circle-line"></i>01 Sweatshirt
                        </li>
                        <li class="Planos__item">
                            <i class="ri-checkbox-circle-line"></i>01 Bottle of Protein
                        </li>
                        <li class="Planos__item">
                            <i class="ri-checkbox-circle-line"></i>Access to Videos
                        </li>
                        <li class="Planos__item">
                            <i class="ri-checkbox-circle-line"></i>Muscle Stretching
                        </li>
                    </ul>
                    <a href="#" class="button button__flex Planos__button">
                        Assine Agora <i class="ri-arrow-right-line"></i>
                    </a>
                </article>

            </div>
        </div>
    </section>

    <!--==================== CALCULATE ====================-->
    <section class="calculate section">
        <div class="calculate__container container grid">
            <div class="calculate__content">
                <div class="section__titles">
                    <h1 class="section__title-border">CALCULE</h1>
                    <h1 class="section__title">SEU IMC</h1>
                </div>
                <p class="calculate__description">
                    A calculadora de índice de massa corporal (IMC) calcula
                    índice de massa corporal de seu peso e altura.
                </p>
                <form action="" class="calculate__form" id="calculate-form">
                    <div class="calculate__box">
                        <input type="number" placeholder="Altura: " class="calculate__input" id="calculate-cm">
                        <label for="" class="calculate__label">cm</label>
                    </div>
                    <div class="calculate__box">
                        <input type="number" placeholder="Peso: " class="calculate__input" id="calculate-kg">
                        <label for="" class="calculate__label">kg</label>
                    </div>
                    <button type="submit" class="button button__flex">
                        Calcular  <i class="ri-arrow-right-line"></i>
                    </button>
                </form>
                <p class="calculate__message" id="calculate-message"></p>
            </div>
            <img src="/static/img/Patrick.png" alt="PATRICK image" class="calculate__img">
        </div>
    </section>
</main>